.container {
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
}

.imgBox {
  width: 35%;
  cursor: pointer;
}
.thumbnail {
  width: 100%;
  height: 14rem;
  margin: 0;
  object-fit: cover;
  transition: 0.3s;
}

.thumbnail:hover {
  filter: brightness(50%);
}

.metaData {
  padding-left: 0.8rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentWrap {
  margin-top: 0.3rem;
}
.title {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgb(44, 44, 44);
}

.period {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: rgb(156, 156, 156);
}

.titleAndBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.reviewCount {
  text-align: end;
  font-size: 0.9rem;
  color: rgb(221, 105, 105);
  font-weight: bold;
}
.btnWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.reviewBtn {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 7rem;
  color: rgb(95, 95, 95);
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  transition: 0.3s;
  white-space: nowrap;
}

.reviewBtn:hover {
  background-color: rgb(241, 241, 241);
}

.exhibitType {
  display: inline;
  border: 1px solid rgb(238, 220, 223);
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: rgb(238, 220, 223);
  font-size: 0.8rem;
  color: rgb(111, 111, 111);
}
.exhibitType2 {
  display: inline;
  border: 1px solid rgb(219, 226, 240);
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: rgb(219, 226, 240);
  font-size: 0.8rem;
  color: rgb(111, 111, 111);
}

@media screen and (max-width: 768px) {
  .imgBox {
    width: 45%;
  }

  .metaData {
    width: 55%;
  }
  .thumbnail {
    height: 12rem;
  }
  .layer {
    height: 12rem;
    margin-bottom: -12rem;
  }

  .layer:hover {
    height: 12rem;
    margin-bottom: -12rem;
  }
}

@media screen and (max-width: 568px) {
  .metaData {
    padding-left: 0.5rem;
  }

  .title {
    margin-top: 0.3rem;
    font-size: 0.9rem;
  }

  .period {
    margin-top: 0.1rem;
    font-size: 0.7rem;
  }
  .reviewCount {
    font-size: 0.75rem;
  }

  .reviewBtn {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.7rem;
  }
  .btnWrap {
    margin-top: 0.2rem;
  }
  .thumbnail {
    height: 10rem;
  }
  .layer {
    height: 10rem;
    margin-bottom: -10rem;
  }

  .layer:hover {
    height: 10rem;
    margin-bottom: -10rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
