@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
/*font-family: 'Do Hyeon', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/*font-family: 'Jua', sans-serif;*/
span,
label {
  display: block;
}
.container {
  width: 100%;
  margin: 0;
  margin-top: 11rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

/*섹션1: 브랜드*/
.mainBrand {
  height: 100vh;
  background-color: none;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandSection {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logoBorder {
  margin-top: 3rem;
  background: #202020;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.logoImg {
  width: 80%;
  height: 80%;
}
.brand {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.brand p {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Jua", sans-serif;
}

/*섹션2: 슬라이더*/
.mainSlider {
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
}

/* 움직이는 화살표 */
.downArr {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.arrSection {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.arrowDown span {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 1px solid #202020;
  border-right: 1px solid #202020;
  transform: rotate(45deg);
  margin: -8px;
  animation: animate-arrows 2s infinite;
}

/*섹션3: 관람(회색)*/
.mainExplain {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.ExplainSection {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.explainBorder {
  width: 100%;
  height: 50%;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0.2rem;
}

.explainBorder h3 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 100;
  font-family: "Jua", sans-serif;
}
.explainBorder p {
  font-weight: 100;
  font-family: "Jua", sans-serif;
}
.explainBorder img {
  width: 50%;
  height: 100%;
}
.explainBorder > div {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*섹션4: 관람디테일 타이틀(하얀색):*/

.mainWatchDetail1 {
  width: 100%;
  height: 30vh;
  background-color: none;
}
.exDetailTitle {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  line-height: 9rem;
  text-align: center;
  font-size: 1.7rem;
  font-family: "Jua", sans-serif;
}

/*섹션5,6: 관람디테일 컨텐츠(검정색)*/
.mainWatchDetail2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 5rem 6rem;
}
.exDetailBoard {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.exDetailImg {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.exDetailImg img {
  width: 65%;
  height: 90%;
}
.exDetailTxt {
  width: 100%;
  height: 30%;
  color: white;
}
.exDetailTxt span {
  text-align: center;
  width: 100%;
  font-weight: 100;
  font-family: "Jua", sans-serif;
}
.exDetailTxt span:nth-child(1) {
  height: 40%;
  font-size: 3rem;
  line-height: 6rem;
}
.exDetailTxt span:nth-child(2) {
  height: 60%;
  font-size: 1.2rem;
  line-height: 5rem;
}

/*섹션7 리뷰디테일 컨텐츠(하얀색)*/
.mainReviewDetail {
  width: 100%;
  height: 100vh;
}
.ReviewSection {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/*섹션8 카운터박스(검정색)*/
.mainCount {
  width: 100%;
  height: 50vh;
  background-color: black;
}
.countSection {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*이쪽 반응형 아직*/
.conterTxtBox {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 2;
  font-size: 1.8rem;
  font-family: "Jua", sans-serif;
}
.conterBox {
  width: 100%;
  height: 50%;
}
.conterBox span {
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Jua", sans-serif;
}

.conterBox span:nth-child(1) {
  font-size: 2.8rem;
}
.conterBox span:nth-child(2) {
  font-size: 2rem;
}
/*섹션9 바텀txt(하얀색)*/
.mainBottomTxt {
  width: 100%;
  height: 20vh;
}
.bottomSectionTxt {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;

  font-family: "Jua", sans-serif;
}

/*섹션10 바텀btn(하얀색)*/
.mainBottom {
  width: 100%;
  height: 40vh;
}
.bottomSection {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bottomBtn {
  display: inline-block;
  border-radius: 5%;
  background: #202020;
  color: white;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  width: 15rem;
  height: 5rem;
  font-family: "Jua", sans-serif;
  font-size: 1.3rem;

  animation: motion 0.8s linear 0s infinite alternate;
  margin-top: 0;
}

/*설명부분 버튼*/
.btn {
  display: inline-block;
  border: none;
  background: #202020;
  color: white;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  width: 10rem;
  font-family: "Jua", sans-serif;
}
.btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1240px) {
  /*섹션1: 브랜드*/

  .brandSection {
    width: 100%;
  }

  /*섹션2: 슬라이더*/
  .mainSlider {
    background-color: #f1f1f1;
    width: 100%;
    height: 80vh;
  }

  /* 움직이는 화살표 */
  .downArr {
    height: 15vh;
  }
  .arrSection {
    width: 100%;
  }

  /*섹션3: 관람(회색)*/

  .ExplainSection {
    width: 100%;
  }

  .explainBorder h3 {
    padding: 0.2rem;
    font-size: 2.5rem;
  }

  /*섹션4: 관람디테일 타이틀(하얀색):*/

  .mainWatchDetail1 {
    width: 100%;
    height: 30vh;
    background-color: none;
  }
  .exDetailTitle {
    width: 100%;
  }

  /*섹션5,6: 관람디테일 컨텐츠(검정색)*/

  .exDetailBoard {
    width: 100%;
  }

  .ReviewSection {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .mainSlider {
    background-color: #f1f1f1;
    width: 100%;
    height: 60vh;
  }

  .mainExplain {
    height: 60vh;
  }
  .ExplainSection {
    width: 100%;
    height: 100%;
  }
  .explainBorder h3 {
    padding: 0.2rem;
    font-size: 1.5rem;
  }
  .explainBorder p {
    font-size: 0.8rem;
  }

  .mainWatchDetail1 {
    width: 100%;
    height: 30vh;
    background-color: none;
  }
  .exDetailTitle {
    width: 750px;
    line-height: 9rem;
  }

  .mainWatchDetail2 {
    height: 80vh;
  }
  .exDetailBoard {
    width: 100%;
  }

  .exDetailImg img {
    height: 70%;
  }

  .exDetailTxt span:nth-child(2) {
    font-size: 1rem;
  }

  .ReviewSection {
    width: 100%;
  }

  .countSection {
    width: 100%;
  }

  .mainBottomTxt {
    width: 100%;
    height: 20vh;
  }
  .bottomSectionTxt {
    width: 100%;
  }

  .bottomSection {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
  }
  /*섹션1: 브랜드*/

  .brand p {
    font-size: 1.3rem;
  }

  /*섹션2: 슬라이더*/
  .mainSlider {
    height: 50vh;
  }

  /*섹션3: 관람(회색)*/
  .mainExplain {
    height: 60vh;
  }
  .ExplainSection {
    width: 100%;
    height: 100%;
  }
  .explainBorder {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .explainBorder h3 {
    width: 100%;
    padding: 0.5rem 0.2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .explainBorder p {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }

  .explainBorder img {
    width: 80%;
    height: 50%;
  }
  .explainBorder > div {
    padding: 0.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /*섹션4: 관람디테일 타이틀(하얀색):*/

  .mainWatchDetail1 {
    width: 100%;
    height: 20vh;
  }
  .exDetailTitle {
    width: 100%;
    line-height: 5.5rem;
  }

  /*섹션5,6: 관람디테일 컨텐츠(검정색)*/
  .mainWatchDetail2 {
    height: 60vh;

    padding: 1rem 2rem;
  }
  .exDetailBoard {
    width: 100%;
  }

  .exDetailImg img {
    width: 90%;
    height: 90%;
  }

  .exDetailTxt span:nth-child(1) {
    height: 40%;
    font-size: 2rem;
    line-height: 6rem;
  }
  .exDetailTxt span:nth-child(2) {
    /* height: 60%; */
    font-size: 0.8rem;
    line-height: 3rem;
  }

  /*섹션7 리뷰디테일 컨텐츠(하얀색)*/

  .ReviewSection {
    width: 100%;
  }
  /*섹션8 카운터박스(검정색)*/
  .mainCount {
    width: 100%;
    height: 30vh;
    background-color: black;
  }
  .countSection {
    width: 100%;
  }

  .conterBox span:nth-child(1) {
    font-size: 1.8rem;
  }
  .conterBox span:nth-child(2) {
    font-size: 2rem;
  }
  /*섹션9 바텀txt(하얀색)*/
  .mainBottomTxt {
    width: 100%;
    height: 20vh;
    /* border: 3px solid red; */
  }
  .bottomSectionTxt {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
  }

  /*섹션10 바텀btn(하얀색)*/

  .bottomSection {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /*섹션4: 관람디테일 타이틀(하얀색):*/

  .exDetailTitle {
    width: 100%;
    font-size: 1.5rem;
    line-height: 6rem;
  }
  .ReviewSection {
    width: 90%;
  }
  .bottomSectionTxt {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }
  .mainBottom {
    height: 30vh;
  }

  .conterTxtBox {
    font-size: 1.4rem;
  }

  .conterBox span:nth-child(1) {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 480px) {
  .brand p {
    font-size: 1rem;
  }
  .mainSlider {
    height: 30vh;
  }

  .explainBorder > div {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .explainBorder h3 {
    font-size: 0.8rem;

    margin-bottom: 0;
  }
  .explainBorder p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
  .btn {
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    margin: 0.1rem;
  }
  .exDetailTitle {
    width: 100%;
    font-size: 1.2em;
    line-height: 2rem;
  }
  .mainWatchDetail2 {
    height: 60vh;

    padding: 0.1rem 0.2rem;
  }
  .exDetailBoard {
    width: 100%;
    height: 100%;
  }
  .exDetailImg {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .exDetailImg img {
    width: 100%;
    height: 100%;
  }
  .exDetailTxt {
    height: 50%;
  }

  .exDetailTxt span:nth-child(1) {
    height: 40%;
    font-size: 1.5rem;
    line-height: 6rem;
  }
  .exDetailTxt span:nth-child(2) {
    font-size: 0.8rem;
    line-height: 2rem;
  }
  .ReviewSection {
    width: 90%;
  }
  .bottomSectionTxt {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
  .conterBox span:nth-child(2) {
    font-size: 1.5rem;
  }

  .conterTxtBox {
    font-size: 1.2rem;
  }

  .conterBox span:nth-child(1) {
    font-size: 2.3rem;
  }
  .conterBox span:nth-child(2) {
    font-size: 1.8rem;
  }
}
/*화면전환*/

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animate-arrows {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1.5em, -1.5em);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1.5em, 1.5em);
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
