@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

.container {
  max-width: Container;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.audiencBox,
.authorBox {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputbox {
  /*ul*/
  list-style: none;
  border: 0;
  padding: 4rem;
}
.title {
  width: 30rem;
  height: 3rem;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.input {
  width: 30rem;
  height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
input {
  width: 25rem;
  height: 3rem;
  border: 1px solid gainsboro;
  text-indent: 10px;
  outline: none;
  font-size: 1rem;
}

.errmsg {
  width: 30rem;
  height: 3rem;
  text-align: center;
  color: red;
  font-weight: bold;
}

/*email */
.email {
  width: 18rem;
}
.mailckBtn {
  width: 6rem;
  height: 3rem;
  text-align: center;
  background-color: white;
  border: 1px solid grey;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
.joinBtn {
  /* border: 1px solid red; */
  width: 30rem;
  height: 3rem;
  text-align: center;
}
.realJoin,
.realJoin2 {
  width: 250px;
  height: 50px;
  background-color: White;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-indent: 0.2rem;
}
img {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0 1rem 2.5rem;
}
.infoText {
  font-size: 13px;
}

/*author extra*/
.noRequiredText {
  text-indent: 3rem;
  font-size: 13px;
}
/* profile img */
.profileBox {
  width: 30rem;
  height: 15rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBorder {
  width: 200px;
  height: 200px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.imgInput {
  text-align: center;
  width: 115px;
  height: 30px;
  position: absolute;
  top: 900px;
}
.ProfileView {
  width: 100%;
  height: 100%;
  margin-left: 1px;
}
.editbox {
  z-index: 1;
  width: 3%;
  height: 6%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 950px;
  right: 830px;
}
.edit {
  width: 90%;
  height: 90%;
  z-index: 2;
  margin-left: 4px;
  margin-top: 4px;
  cursor: pointer;
}
/* author intro */
.introInfoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.introInfo {
  width: 25rem;
  height: 5rem;
  border: 1px solid gainsboro;
  outline: none;
  text-indent: 0.2rem;
  overflow-y: scroll;
  resize: none;
}
.realJoin2 {
  margin-top: 25px;
}

/* pass visibility */
.passinput {
  width: 25.5rem;
  height: 3rem;
  margin-bottom: 2rem;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
}
.visibility {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-top: 2px;
  position: relative;
  left: -10px;
}
.eyeimg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -40px;
}
.passborder {
  border: 0;
  height: 2.5rem;
}
