.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  color: rgb(66, 66, 66);
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

.title {
  text-align: center;
  margin-bottom: 4.5rem;
}

.categoryName {
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
}

.artWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.artFile {
  width: 30%;
  display: flex;
  flex-direction: column;
}

/* 이거 수정해야 함........ */
.artContent {
  width: 70%;
}
/* 이거 수정해야 함........ */

.textInput {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.artTextInput {
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  border-bottom: none;
}

.contentInput {
  font-size: 0.8rem;
  height: 7rem;
  width: 100%;
  margin-bottom: 0.8rem;
}

.artImg {
  width: 100%;
  margin: 0;
  height: 9.5rem;
  object-fit: cover;
}
.fileInput {
  cursor: pointer;
  font-size: 0.6rem;
  width: 100%;
  height: 1.5rem;
  padding-top: 0.1rem;
}

input[type="checkbox"] {
  display: none;
}

.tags {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.hashtag {
  cursor: pointer;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  white-space: nowrap;
}

.hashtagClicked {
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  border: none;
  color: white;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(48, 48, 48);
  white-space: nowrap;
}

.subGenre {
  display: inline-block;
  font-size: 0.2rem;
}

.submit {
  margin: 5rem 0;
  text-align: center;
}

.submitBtn {
  margin: 0 1rem;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid rgb(87, 87, 87);
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: rgb(87, 87, 87);
  transition: 0.3s;
  font-size: 0.8rem;
  color: white;
}

.submitBtn:hover {
  border: 1px solid rgb(210, 210, 210);
  background-color: white;
  color: rgb(66, 66, 66);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 4rem 3rem;
  }
  .artFile {
    width: 40%;
  }
  .artContent {
    width: 60%;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding: 4rem 1rem;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
