.subNavBar {
  display: flex;
  font-size: 1rem;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.subMenu {
  cursor: pointer;
  display: block;
  margin: 3rem 0.5rem 0.5rem 0.5rem;
  color: rgb(150, 150, 150);
}
.subMenuClicked {
  cursor: pointer;
  display: block;
  margin: 3rem 0.5rem 0.5rem 0.5rem;
  color: rgb(54, 54, 54);
}

.categories {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.hashtag {
  cursor: pointer;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  white-space: nowrap;
}
.hashtagClicked {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  color: white;
  border: 1px solid rgb(90, 90, 90);
  background-color: rgb(90, 90, 90);
  border-radius: 20px;
  white-space: nowrap;
}

.sortWrap {
  display: flex;
  justify-content: flex-end;
}
.sort {
  cursor: pointer;
  width: 6.5rem;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  color: grey;
  background: url("https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png")
    calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  outline: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort::-ms-expand {
  display: none;
}
