.thumbnail {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
  /* background-size: cover; */
  margin-bottom: 0.2rem;
}

.titleAndLike {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  color: rgb(44, 44, 44);
}
.like {
  padding-right: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(44, 44, 44);
}

.period {
  font-size: 0.8rem;
  color: rgb(156, 156, 156);
}
