.objectList {
  margin-top: 1.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}

.thumbnail {
  width: 100%;
  height: 12rem;
  margin: 0;
  object-fit: cover;
  margin-bottom: 0.2rem;
}

.title {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.period {
  font-size: 0.5rem;
  color: rgb(156, 156, 156);
}
