.object {
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 16rem;
  margin: 0;
  object-fit: cover;
}

.layer {
  position: relative;
  width: 100%;
  height: 16rem;
  opacity: 0;
  background-color: white;
  margin-bottom: -16rem;
  transition: 0.3s;
}

.layer:hover {
  position: relative;
  width: 100%;
  height: 16rem;
  opacity: 0.4;
  background-color: rgb(37, 37, 37);
  margin-bottom: -16rem;
}

/* .titleAndLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.title {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: rgb(44, 44, 44);
}

.likesMeta {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 0.3rem;
  margin-right: 0.5rem;
}
.likesCount {
  font-size: 0.9rem;
  color: rgb(97, 97, 97);
}

.notlike {
  padding-right: 0.4rem;
  font-size: 1rem;
  color: rgb(97, 97, 97);
}
.like {
  padding-right: 0.4rem;
  font-size: 1rem;
  color: rgb(241, 112, 112);
}

.period {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: rgb(156, 156, 156);
}
