@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/*font-family: 'Jua', sans-serif;*/
.seperator {
  width: 100%;
  height: 20%;
  line-height: 190px;
  border: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Jua", sans-serif;
}
.carousel-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.revContent {
  color: white;
  outline: none;
  background-color: black;
  border-radius: 5%;
  width: 90%;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.revImgtBox {
  padding-top: 1rem;
  width: 100%;
  height: 40%;
  text-align: center;
}
.revimg {
  border-radius: 50%;
  width: 55%;
  height: 90%;
}
.revTxtBox {
  width: 100%;
  height: 60%;
  padding: 0 0.5rem;
}

.revTxt:nth-child(1),
.revTxt:nth-child(2) {
  font-family: "Jua", sans-serif;
  height: 20%;
  text-align: center;
  line-height: 3;
  font-size: 1.5rem;
}

.revTxt:nth-child(3) {
  font-weight: 100;
  font-family: "Jua", sans-serif;
  padding: 0 0.6rem;
  height: 60%;
  line-height: 2;
  font-size: 0.9rem;
}

/*arrow*/
.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  margin-top: 15rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: black;
  color: white;
}
.btn:hover {
  background-color: white;
  color: black;
}
/*dot*/
.rec.rec-dot {
  border-radius: 50%;
  background: white;
}
.rec.rec-dot_active {
  background: white;
  border: 2px #333 solid;
}
.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(24, 23, 23, 0.5);
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/*시도하기*/
.jJKuoL {
  box-shadow: 0 0 1px 3px gray;
}
.jJKuoL:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 3px gray;
}

@media screen and (max-width: 1240px) {
  .carousel-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 780px) {
  .seperator {
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (max-width: 580px) {
  .carousel-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .seperator {
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
  }
  .revTxt:nth-child(1),
  .revTxt:nth-child(2) {
    height: 20%;
    text-align: center;
    line-height: 3;
    font-size: 1rem;
  }

  .revTxt:nth-child(3) {
    padding: 0 0.6rem;
    height: 60%;
    line-height: 2;
    font-size: 0.8rem;
  }
  .revContent {
    width: 90%;
    height: 350px;

    padding: 0.5rem;
  }
}
