/* body {
  padding-top: 0;
} */

.container {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  /* Firefox */
  -webkit-animation: fadein 1.5s;
  /* Safari and Chrome */
  -o-animation: fadein 1.5s;
  /* Opera */
}

.background {
  width: 100vw;
  height: 100vh;
  background: black;
  position: relative;
}

.artMetaData {
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(209, 209, 209);
  width: 30rem;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.content {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  font-style: italic;
}
.subContent {
  font-size: 1rem;
}
.img {
  position: absolute;
  width: 100%;
  max-width: 768px;
  height: auto;
  max-height: 90vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  object-fit: cover;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.closeBtn:hover {
  color: whitesmoke;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
