.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.pic {
  width: calc(100% / 4);
  height: 100%;
  object-fit: cover;
}

/*슬라이더*/
.slide1 {
  width: 400%;
  height: 100%;
  transition: transform 3s;
}
.slide2 {
  width: 400%;
  height: 100%;
  transition: transform 3s;
  transform: translate(calc(-100% / 4));
}
.slide3 {
  width: 400%;
  height: 100%;

  transition: transform 3s;
  transform: translate(calc(-200% / 4));
}
.slide4 {
  width: 400%;
  height: 100%;
  transition: transform 3s;
  transform: translate(calc(-300% / 4));
}

/*위치 이동*/
.prevbtn {
  left: 0;
}
.nextbtn {
  right: 0;
}
.btnhover {
  position: absolute;
  width: 3%;
  height: 8%;
  top: 45%;

  background-color: black;
  opacity: 35%;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  color: white;
  font-size: 4rem;
}
.btn {
  position: absolute;
  width: 70px;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  opacity: 35%;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}