@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
/*font-family: 'Do Hyeon', sans-serif;*/

span {
  display: block;
}
.container {
  max-width: Container;
  margin: 0 auto;
}
.box {
  width: 100%;
  height: 100%;
}

.upDateBox {
  border: 1px solid gainsboro;
  display: flex;
}
.DeleteBox {
  border: 1px solid gainsboro;
}

/*작품 개별*/
.exBox {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  border-bottom: 1px solid gainsboro;
}
.thumBox {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.eximg {
  width: 100%;
  height: 100%;
  border-right: 1px solid gainsboro;
}
.infoBox {
  flex: 20rem;
  margin-top: 5px;
}
.title {
  font-family: "Do Hyeon", sans-serif;

  text-indent: 10px;
  font-size: 1.5rem;
}

.comments {
  font-family: "Do Hyeon", sans-serif;
  text-indent: 10px;
  padding: 0.3rem 0;
}
.btnBox {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn,
.btn2 {
  width: 80px;
  height: 50px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(53, 52, 52);
  color: white;
}

.btn2 {
  background-color: rgb(53, 52, 52);
  color: white;
}
.btn2:hover {
  background-color: red;
}

@media screen and (max-width: 780px) {
  .thumBox {
    width: 120px;
    height: 120px;
  }
  .infoBox {
    flex: 18rem;
    margin-top: 5px;
  }
  .title {
    font-size: 1.2rem;
    text-indent: 4px;
  }
  .author {
    font-size: 0.9rem;
    text-indent: 4px;
  }
  .date {
    font-size: 0.8rem;
    text-indent: 4px;
  }
}

@media screen and (max-width: 480px) {
  .thumBox {
    width: 120px;
    height: 100px;
  }
  .infoBox {
    flex: 13rem;
    margin-top: 5px;
  }
  .title {
    font-size: 1.2rem;
    text-indent: 4px;
  }
  .author {
    font-size: 0.9rem;
    text-indent: 4px;
  }
  .date {
    font-size: 0.8rem;
    text-indent: 4px;
  }
}
