@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

label,
span {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

.contentBorder {
  max-width: Container;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
.infoEdit {
  width: 25rem;
  height: 25rem;
  border: 1px solid gainsboro;
  background-color: white;
  cursor: pointer;
}

.infoTitle {
  border: 1px solid red;
}
.infoContent {
  border: 1px solid red;
}

.infoBtnBox {
  border: 1px solid red;
}

.passEdit {
  width: 25rem;
  height: 25rem;
  border: 1px solid gainsboro;
  margin-left: 5rem;
  background-color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
