@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

label,
span {
  display: block;
}

.container {
  max-width: Container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 13.5rem;
}

/*프로필이미지*/
.imgBox {
  /* border: 1px solid gold; */
  width: 80%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*여기*/
  position: relative;
}

.modiBox {
  /* border: 1px solid gold; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  flex-direction: row;
}
.imgBorder {
  /* label */
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  z-index: 1;
}
.imgInput {
  text-align: center;
  width: 115px;
  height: 30px;
  position: absolute;
  top: 100px;
}
.ProfileView {
  width: 100%;
  height: 100%;
  margin-left: 1px;
}
.editbox {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 170px;
  left: 440px;
}

.edit {
  width: 90%;
  height: 90%;
  z-index: 2;
  /* position: absolute; */
  margin-left: 4px;
  margin-top: 4px;
  cursor: pointer;
}

/*input박스*/
.ulbox {
  list-style: none;
  width: 80%;
  /* border: 1px solid blue; */
}
.libox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.titlebox {
  margin-left: 15px;
}
.inputedit {
  border: none;
  border-bottom: 1px solid gainsboro;
}
.passcheck {
  text-align: center;
}

/*작가소개*/
.authTitle {
  flex: 1.5;
  text-align: center;
}
.authorText {
  flex: 10;
  text-indent: 5px;
  line-height: 2;
  outline: none;
  overflow-y: scroll;
  resize: none;
}

/*버튼*/

.btn1,
.btn2 {
  width: 100px;
  height: 40px;
  border: 1px solid gainsboro;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn2 {
  margin-left: 15px;
}

.btn1:hover,
.btn2:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 6rem;
  }
}
