@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

label,
span {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 0.8rem;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

.contentBorder {
  max-width: Container;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
.infoEdit {
  width: 25rem;
  height: 30rem;
  border: 1px solid gainsboro;
  background-color: white;
}

.infoTitle {
  height: 5rem;
  line-height: 5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.imgBorder {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.ProfileView {
  border: 1px solid gainsboro;
  width: 50%;
  height: 80%;
  border-radius: 50%;
}

.nickName {
  height: 4rem;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.nickName span:nth-child(1) {
  width: 40%;
  text-align: end;
  margin-left: -2rem;
}
.nickName span:nth-child(2) {
  width: 40%;
  margin-left: 2rem;
}
.infoBtnBox {
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoBtn,
.passBtn {
  width: 6rem;
  height: 3rem;
  border: 1px solid gainsboro;
  background: none;
  cursor: pointer;
}
.passEdit {
  width: 25rem;
  height: 30rem;
  border: 1px solid gainsboro;
  margin-left: 5rem;
  background-color: white;
}
.PassBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21.4rem;
}

@media screen and (max-width: 768px) {
  .contentBorder {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
  }
  .passEdit {
    margin-left: 0;
    margin-top: 2rem;
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .infoEdit {
    width: 18rem;
  }
  .passEdit {
    width: 18rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
