.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem 5rem 0.5rem;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.searchBox {
  margin: 3rem 2rem 3rem 2rem;
  border-bottom: 1px solid rgb(179, 179, 179);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search {
  width: 80%;
  height: 2rem;
  border: none;
}
.searchIcon {
  font-size: 1.2rem;
  height: 100%;
  padding: 0.5rem;
  border: none;
  background-color: white;
  color: rgb(112, 112, 112);
}
.reviews {
  list-style: none;
  margin-top: 4rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
