@value Black, White, TitleColor from '../../common/colors.css';
@value Container from '../../common/size.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

span,
label {
  display: block;
}

.container {
  max-width: Container;
  margin: 0 auto;
}
.signupBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}
.ulBox {
  list-style: none;
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  margin-bottom: 10px;
}
.titleBox {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.7rem;
  color: rgb(66, 66, 66);
}
.columnBox {
  width: 70%;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  margin-top: 5px;
}
.imgBorder {
  width: 2%;
}
.icon {
  width: 90%;
  height: 50%;
  margin-left: 1px;
}
.columnText {
  width: 95%;
}
.inputBox {
  width: 70%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}
.mailBox {
  width: 100%;
  height: 3.2rem;
  line-height: 3rem;
  text-indent: 0.6rem;
  border: 1px solid gainsboro;
}
.text {
  width: 95%;
  border: none;
  height: 92%;
  outline: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.passBox {
  width: 100%;
  height: 3.2rem;
  text-indent: 0.6rem;
  line-height: 3rem;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
}
.passText {
  width: 98%;
  border: none;
  height: 100%;
  outline: none;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.eyeBorder {
  width: 30px;
  position: relative;
}
.eyeimg {
  width: 80%;
  height: 80%;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 3px;
}
.btnBox {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.joinBtn {
  width: 30%;
  height: 3rem;
  padding: 0.2rem;
  border: 1px solid gainsboro;
  background-color: white;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.5s;
}
.joinBtn:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

.ouathBtn {
  width: 30%;
  height: 3rem;
  padding: 0.2rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .signupBox {
    width: 100%;
  }
  .ulBox {
    width: 100%;
    padding: 0.4rem;
  }
  .imgBorder {
    width: 3%;
  }
  .eyeBorder {
    width: 30px;
  }
  .eyeimg {
    width: 70%;
    height: 70%;
    left: 3px;
    top: 7px;
  }
}
@media screen and (max-width: 580px) {
  .signupBox {
    width: 100%;
    padding: 6rem 1rem;
  }
  .ulBox {
    width: 100%;
    padding: 0.4rem;
  }
  .confirm {
    width: 22%;
  }
  .imgBorder {
    width: 3%;
  }

  .eyeBorder {
    width: 30px;
  }
  .eyeimg {
    width: 70%;
    height: 70%;
    left: 3px;
    top: 7px;
  }
  .joinBtn {
    width: 40%;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 480px) {
  .signupBox {
    width: 100%;
    padding: 6rem 1rem;
  }
  .ulBox {
    width: 100%;
    padding: 0.4rem;
  }
  .imgBorder {
    width: 2%;
  }
  .eyeBorder {
    width: 30px;
  }
  .eyeimg {
    width: 70%;
    height: 70%;
    left: 3px;
    top: 7px;
  }
  .joinBtn {
    width: 40%;
    padding: 0.1rem;
  }
}
