@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

.container {
  max-width: Container;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.loginBox {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputbox {
  /*ul*/
  list-style: none;
  border: 0;
  padding: 4rem;
}
.title {
  width: 30rem;
  height: 3rem;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.input,
.errmsg {
  width: 30rem;
  height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
input {
  width: 25rem;
  height: 3rem;
  border: none;
  border: 1px solid gainsboro;
  text-indent: 10px;
  outline: none;
  font-size: 1rem;
}

.loginBtns {
  width: 30rem;
  height: 3rem;
  text-align: center;
}
.loginbtn {
  width: 250px;
  height: 50px;
  background-color: White;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
.loginbtn:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-indent: 0.2rem;
}
img {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0 1rem 2.5rem;
}
.infoText {
  font-size: 13px;
}

/* pass visibility */
.passinput {
  width: 25.5rem;
  height: 3rem;
  margin-bottom: 2rem;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
}
.visibility {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-top: 2px;
  position: relative;
  left: -10px;
}
.eyeimg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -40px;
}
.passborder {
  border: 0;
  height: 2.5rem;
}

.errmsg {
  color: red;
}

/*oauth*/
.oauthBox {
  margin-top: 3rem;
  width: 470px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.oauthBtn2 {
  width: 145px;
  height: 50px;
  border: 1px solid rgb(197, 196, 196);
  background-color: #f7e600;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3a1d1d;
}
.oauthBtn1 {
  width: 145px;
  height: 50px;
  border: 1px solid rgb(197, 196, 196);
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.google {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 20px;
}
.kakao {
  width: 40px;
  height: 40px;
  margin-left: 3px;
  margin-top: 20px;
}
