@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
.tapBorder {
  width: 5rem;
  height: 14rem;
  list-style: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background: white;
  transition: opacity 0.5s ease-in;
  opacity: 0.8;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.list {
  width: 100%;
  height: 2.2rem;
  text-align: center;
  line-height: 1.5;
}
.list:hover {
  font-weight: bold;
  font-size: 1rem;
}
