@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

.container {
  max-width: Container;
  height: 30rem;

  margin: 0 auto;
  /* border: 1px solid red; */
  height: 100%;
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0.3rem;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}
/* .exBox:nth-child(1) {
  margin-top: 5rem;
} */
.exBox {
  width: 100%;
  height: 20rem;
  border-bottom: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem;
}
.thumBox {
  flex: 3.5;
  height: 230px;
  overflow: hidden;
}
.eximg {
  border: 1px solid gainsboro;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.infoBox {
  flex: 6.5;
  margin-top: 5px;
}
.title {
  text-indent: 10px;
  font-size: 1.1rem;
  font-family: "Do Hyeon", sans-serif;
}
.title:nth-child(1) {
  cursor: pointer;
}
.title:nth-child(2) {
  font-size: 0.9rem;
}
.date {
  height: 2rem;
  line-height: 2rem;
  text-indent: 10px;
  font-size: 0.8rem;
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.2rem;
  }
  .exBox {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.2rem;
  }
  .thumBox {
    /* flex: 3.5; */
    /* width: 10px;
    height: 30px; */
    width: 260px;
    height: 260px;
    overflow: hidden;
  }
  .infoBox {
    flex: 6.5;
    margin: 2rem 0;
  }
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .container {
    margin-top: 2rem;
    padding: 0.2rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exBox {
    width: 90%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.2rem;
  }
  .thumBox {
    width: 300px;
    height: 150px;
    overflow: hidden;
  }
  .infoBox {
    flex: 0.5;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0.2rem;
  }
  .exBox {
    width: 90%;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.2rem;
  }
  .thumBox {
    width: 95%;

    overflow: hidden;
  }
  .infoBox {
    width: 100%;
    flex: 0.5;
    padding: 0.2rem;
  }
  .date {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
