@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

span {
  display: block;
}
.container {
  max-width: Container;
  margin: 0 auto;
  padding: 3rem;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
  margin-top: 11rem;
}
.contactBox {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 1rem;
}
.titleBox {
  height: 13rem;
}
.titleBox span {
  font-family: "Poppins", sans-serif;

  text-align: center;
}
.titleBox span:nth-child(1) {
  line-height: 8rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 60%;
}
.titleBox span:nth-child(2) {
  font-size: 1rem;
  line-height: 2rem;
  height: 40%;
}
/*info*/
.infoBox {
  list-style: none;
  width: 100%;
}
.infoTitle {
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.infoText {
  height: 30px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
}
.mailBox {
  height: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ulBox {
  width: 80%;
  height: 100%;
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.liBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.liBox2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
input {
  font-family: "Poppins", sans-serif;
}
.name {
  width: 45%;
  height: 4em;
  font-size: 0.8rem;
  outline: none;
  text-indent: 0.2rem;
  background-color: #f3efdb;
  border: none;
}
.email {
  width: 45%;
  height: 4em;
  text-indent: 0.2rem;
  font-size: 0.8rem;
  outline: none;
  background-color: #f3efdb;
  border: none;
}
.phone {
  width: 45%;
  height: 4em;
  text-indent: 0.2rem;
  font-size: 0.8rem;
  outline: none;
  background-color: #f3efdb;
  border: none;
}
.btnBox {
  width: 45%;
  height: 4em;
  font-size: 0.8rem;
  outline: none;
  border: none;
  text-align: center;
}
.content {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  text-indent: 0.2rem;
  outline: none;
  overflow-y: scroll;
  resize: none;
  border: none;
  background-color: #f3efdb;
}

.btn {
  width: 120px;
  height: 4em;
  text-indent: 0.2rem;
  font-size: 0.8rem;
  outline: none;
  background-color: white;
  border: none;
  border: 1px solid gainsboro;
  cursor: pointer;
}

/*map section*/
.mapBox {
  margin-top: 3rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mapBorder {
  height: 100%;

  border: none;
  background-color: white;
  overflow: hidden;
}
.textBox {
  flex: 0.8;
  padding: 1.2rem;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finder {
  width: 120px;
  height: 4em;
  line-height: 4em;
  text-align: center;
  text-indent: 0.2rem;
  font-size: 0.8rem;
  outline: none;
  background-color: white;
  border: none;
  margin-left: 4rem;
  border: 1px solid gainsboro;
  cursor: pointer;
}
.introBox {
  border: 1px solid red;
  margin-top: 3rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 7.5rem 3rem 3rem 3rem;
  }
  .contactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gainsboro;
    margin-bottom: 1rem;
  }

  .textBox {
    flex: 0.8;
    padding: 2rem;
    margin-left: 15px;
  }

  @media screen and (max-width: 580px) {
    .name {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
      outline: none;
    }
    .mail {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
      outline: none;
    }
  }

  @media screen and (max-width: 480px) {
    .name {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
    }
    .mail {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
    }
  }
}
