@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

.container {
  max-width: Container;
  margin: 0 auto;
  padding: 14rem 3rem 3rem 3rem;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}
.contactBox {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gainsboro;
  margin-bottom: 1rem;
}
.titleBox {
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.mapBox {
  flex: 1.2;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapBorder {
  height: 300px;
  border: none;
  background-color: white;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); */
  overflow: hidden;
}
.textBox {
  flex: 0.8;
  padding: 1.2rem;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finder {
  border: 1px solid gainsboro;
  color: black;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); */
  margin: 5px 0 0 5px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
/*info*/
.infoBox {
  list-style: none;

  width: 100%;
}
.infoTitle {
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.infoText {
  height: 30px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
}
.mailBox {
  height: 310px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid gainsboro;
  /* background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); */
}
.ulBox {
  width: 80%;
  height: 100%;
  list-style: none;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: black; */
}
.liBox {
  width: 100%;
}
input {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.name {
  width: 250px;
  height: 30px;
  font-size: 0.8rem;
  outline: none;
  text-indent: 0.2rem;
  border: 1px solid gainsboro;
}
.mail {
  width: 300px;
  height: 30px;
  text-indent: 0.2rem;
  font-size: 0.8rem;
  outline: none;
  border: 1px solid gainsboro;
}
.content {
  width: 100%;
  height: 100px;
  font-size: 1rem;
  text-indent: 0.2rem;
  outline: none;
  overflow-y: scroll;
  resize: none;
  border: 1px solid gainsboro;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  width: 120px;
  height: 40px;
  background-color: white;
  border: 1px solid gainsboro;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 7.5rem 3rem 3rem 3rem;
  }
  .contactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gainsboro;
    margin-bottom: 1rem;
  }

  .textBox {
    flex: 0.8;
    padding: 2rem;
    margin-left: 15px;
  }

  @media screen and (max-width: 580px) {
    .name {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
      outline: none;
    }
    .mail {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
      outline: none;
    }
  }

  @media screen and (max-width: 480px) {
    .name {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
    }
    .mail {
      width: 100%;
      height: 30px;
      font-size: 0.8rem;
    }
  }
}
