@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

.container {
  max-width: Container;
  /* height: 100%; */
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.side {
  flex: 1;
  height: 40rem;
  /* border: 1px solid black; */
}
.content {
  flex: 4;
  height: 40rem;
  /* border: 1px solid black; */
}

.sidebar {
  max-width: Container;
  margin: 0 auto;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.category {
  margin-top: 1rem;
  border: 1px solid gainsboro;
  border-radius: 5%;
  width: 80%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transition: all 0.5s;
}

.category:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
  font-weight: bold;
}

.clickCate {
  margin-top: 1rem;
  border: 1px solid gainsboro;
  border-radius: 5%;
  width: 80%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: black;
  color: white;
}
