@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

span {
  display: block;
}
.container {
  max-width: 100%;
  /* background-color: #393939; */
  background-color: #202020;
  /* background-color: black; */
  box-shadow: 0 -5px 15px rgb(57, 57, 57);
}
.navBox {
  max-width: Container;
  margin: 0 auto;
}

.moreOpt {
  display: none;
}

.btns {
  /* max-width: 100%; */
  list-style: none;
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
.btn {
  display: inline-block;
  width: auto;
  margin: 1.8em 0.8rem 0.5rem 0.8rem;
  text-align: right;
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
}
.btn:hover {
  font-weight: bold;
}
.logo {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  margin: 0;
  height: auto;
  width: 16rem;
}

.categoryBox {
  font-size: 0.95rem;
  list-style: none;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  width: 5rem;
  line-height: 3.2rem;
  color: rgb(228, 228, 228);
  text-align: center;
  cursor: pointer;
}
.title:hover {
  font-weight: bold;
}

.closeBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .moreOpt {
    all: unset;
    cursor: pointer;
    color: white;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
  }
  .topNavBox {
    display: flex;
    justify-content: space-between;
  }
  .category {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-color: rgb(251, 251, 251);
    opacity: 0.95;
    box-shadow: 5px 0 15px rgba(83, 83, 83, 0.15);
    transition: 0.5s;
    z-index: 10;
  }
  .categoryBox {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 3rem 3rem;
    row-gap: 2.5rem;
  }

  .closeBtn {
    all: unset;
    cursor: pointer;
    color: rgb(125, 125, 125);
    position: absolute;
    top: 1rem;
    left: 13rem;
    transition: 0.3s;
  }
  .closeBtn:hover {
    color: rgb(0, 0, 0);
  }
  .title {
    all: unset;
    color: rgb(53, 53, 53);
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }

  .categoryClose {
    position: fixed;
    top: 0;
    left: -100%;
    width: 15rem;
    height: 100vh;
    background-color: white;
    box-shadow: -1px 0 4px rgba(83, 83, 83, 0.15);
    transition: 0.5s;
  }
  .logo {
    padding-bottom: 1.5rem;
    height: auto;
  }
  .btns {
    margin-right: 0.8rem;
  }
  .btn {
    margin: 1.8em 0.5rem;
  }
}
@media screen and (max-width: 580px) {
  .logoImg {
    width: 13rem;
  }
}

@media screen and (max-width: 480px) {
  .moreOpt {
    margin-left: 1rem;
  }
}
