@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

.container {
  max-width: Container;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.infobox1 {
  flex: 5;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.infobox2 {
  flex: 5;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
.infobox3 {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.imgbox {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgborder {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.3;
}
.textbox {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ulbox {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.libox {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.title {
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.inputbox {
  flex: 4;
  outline: none;
  border: none;
}

/*작가소개*/
.authorinfo {
  text-align: center;
}
.authorinfoTitle {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.authorText {
  overflow-y: scroll;
  resize: none;
  outline: none;
  text-indent: 5px;
  line-height: 2;
  border: 1px solid gainsboro;
}
/*버튼즈*/
.delete,
.modify {
  width: 100px;
  height: 40px;
  border: 1px solid gainsboro;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.modify {
  margin-left: 15px;
}

.delete:hover {
  background-color: rgb(206, 20, 20);
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}

.modify:hover {
  background-color: black;
  color: white;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02);
}
